/* start global styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --main-color:#FAC61F;
    --second-color:#262735;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding: 0 15px;
    margin: auto;
    position: relative;
}
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
.slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.body{
    position: relative;
}
/* end global styling  */
/* start header  */
.whatsapp{
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 10000;
}
.whatsapp img{
    width: 70px;
}
header{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.063);
    z-index: 1000;


}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo a {
    display: block;
    top: 0px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive; 
    color: black;
    position: relative;
    padding: 0 10px;
}
.container .logo a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0;
    background-image: linear-gradient(to right,var(--main-color)50% ,var(--second-color)50%);

}
header .container .bars{
    width: 40px;
    height: 30px;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    cursor: pointer;
}
header .container .bars span{
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
header .container .bars span:nth-child(2){
    display: block;
    width: 50%;
    height: 3px;
    background-color: var(--main-color);
}
.check:checked ~ .container .bars span{
    width: 100%;
}

header .container nav ul {
    display: flex;
}
header .container ul li a{
    display: block;
    width: 100px;
    text-align: center;
    line-height: 60px;
    color: black;
    text-transform: capitalize;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    position: relative;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 18px;
}
header .container ul li a::after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-image: linear-gradient(to right , var(--main-color) 50% , black 50%);
    bottom: 0;
    left: -100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
header .container ul li a:hover{
    color: var(--main-color);
}
header .container ul li a:hover::after{
    left: 0;
}
header .container ul li form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
header .container ul li form i {
    position: absolute;
    left: 10px;
    color: var(--main-color);
}
header .container ul li form input{
    height: 35px;
    border-radius: 15px/50%;
    -webkit-border-radius: 15px/50%;
    -moz-border-radius: 15px/50%;
    -ms-border-radius: 15px/50%;
    -o-border-radius: 15px/50%;
    outline: none;
    border: none;
    padding: 4px 0px 4px 32px;
    box-shadow:inset 1px 1px 10px 3px rgba(149, 148, 148, 0.1);
    width: 230px;
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 992px) {
    header .container .bars{
        display: flex;
        position: absolute;
        right: 20px;
    }
    header .back{
        position: absolute;
        padding: 0;
        width: 100vw;
        margin: auto;
        left: 0;
        top: 63px;
        height: calc(100vh - 63px);
        background-color: rgba(241, 238, 238, 0.562);
        z-index: -2;
        display: none;
    }
    header .container nav ul{
        flex-direction: column;
        position: absolute;
        padding-bottom: 30px;
        width: 100%;
        background-color: white;
        left: 0;
        top: -360px;
        transition:all 0.5s ease;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        z-index: -1;
        border-radius: 0 0 20px 20px;
        -webkit-border-radius: 0 0 20px 20px;
        -moz-border-radius: 0 0 20px 20px;
        -ms-border-radius: 0 0 20px 20px;
        -o-border-radius: 0 0 20px 20px;
}
    .check:checked ~ .container nav ul{
        top: 61px;
    }
    .check:checked ~ .back{
        display: block;
    }
    header .container nav ul li a{
        width: 100%;
        margin-bottom: 5px;
    }
    header .container nav ul li i{
        left: calc(50% - 115px);
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
}
}
@media (max-width:768px) {
    header .container nav ul{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}

}
/* end header  */
/* start landing */
.landing{
    margin-top: 5px;
    /* position: absolute; */
    position: relative;
    top: -100px;

}
@media (max-width:992px) {
    .landing{
        position: relative;
        top: 0;
    }
}
@media (min-width:1600px) {
    .landing{
        width: 1600px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
}
.flex{
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    position: relative;
}
.flex img{
    width: 100%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.two:checked ~ div img{
    transform: translateX(calc(-100% - 20px));
    -webkit-transform: translateX(calc(-100% - 20px));
    -moz-transform: translateX(calc(-100% - 20px));
    -ms-transform: translateX(calc(-100% - 20px));
    -o-transform: translateX(calc(-100% - 20px));
}
.three:checked ~ div img{
    transform: translateX(calc(-200% - 40px));
    -webkit-transform: translateX(calc(-200% - 40px));
    -moz-transform: translateX(calc(-200% - 40px));
    -ms-transform: translateX(calc(-200% - 40px));
    -o-transform: translateX(calc(-200% - 40px));
}

.landing  .slider-control{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    gap: 10px;
    width: 100%;
}
.landing  .slider-control label{
    width: 30px;
    height: 6px;
    background-color: #89858588;
    cursor: pointer;
}
.landing  .one:checked ~ .slider-control .one,
.landing  .two:checked ~ .slider-control .two,
.landing  .three:checked ~ .slider-control .three
{
    background-color: var(--main-color);
    border: 1px solid var(--second-color);
}
.landing  .paragraph{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.458);

}
.landing  .paragraph div{
    color: white;
    text-align: center;
    display: none;
}
.landing  .paragraph div h2{
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: inherit;
    font-family: 'Dancing Script', cursive; 
}

.landing  .one:checked ~ .paragraph .one,
.landing  .two:checked ~ .paragraph .two,
.landing  .three:checked ~ .paragraph .three
{
    display: block;
}
/* end landing */
/* start offers */
.offers{
    position: relative;
    top: -100px;
}
@media (max-width: 992px) {
    .offers{
        top: 0px;
    }

}
.head{
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.head h2{
    padding: 0px 20px 10px;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    width: fit-content;
    position: relative;
    overflow: hidden;
    outline: 4px solid var(--main-color) ;
    outline-offset: -4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width: 992px) {
    .head h2{
        font-size: 40px;
    }
}
.head p{
    margin-top: -5px;
    text-transform: capitalize;
    position: relative;
    padding: 20px;

}
.head h2 span{
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #262735;
}
.head h2 span:first-of-type{
    left: 0;
    top: 100%;
    animation: motion-bottom 4s ease 1.5s  infinite ;
    -webkit-animation: motion-bottom 4s ease 1.5s  infinite ;
}
.head h2 span:last-of-type{
    right: 0;
    top: -100%;
    animation: motion-top 3s ease 1.5s  infinite ;
    -webkit-animation: motion-top 3s ease 1.5s  infinite ;
}
@keyframes motion-top {
    0%{
        
    }
    100%{
        top: 100%;
    }
}
@keyframes motion-bottom {
    0%{
        
    }
    100%{
        top: -100%;
    }
}
.head h2::after{
    content: "";
    width: 100%;
    height: 4px;
    left: -100%;
    top: 0;
    position: absolute;
    background-image: linear-gradient(to right ,transparent 50% ,var(--second-color)50%);
    border-image-repeat: stretch;
    animation: motion-left 3s ease 0s infinite ;
    -webkit-animation: motion-left 3s ease 0s infinite ;
}
.head h2::before{
    content: "";
    width: 100%;
    height: 4px;
    left: 100%;
    bottom: 0;
    position: absolute;
    background-image: linear-gradient(to left ,transparent 50% ,var(--second-color)50%);
    border-image-repeat: stretch;
    animation: motion-right 4s ease 0.5s infinite ;
    -webkit-animation: motion-right 4s ease 0.5s infinite ;
}
@keyframes motion-right {
    0%{
        
    }
    100%{
        left: -100%;
    }

}
@keyframes motion-left {
    0%{
        
    }
    100%{
        left: 100%;
    }

}
.offers .container .offers-flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    height: 330px;
    position: relative;
}
.offers div.container{
    margin-bottom: 40px;
}
.offers > h2{
    top:0;
    height: 40px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.offers> h2 span,.services .container h2{
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.offers> h2 a{
    padding:  0 20px;
    font-size: 16px;
    line-height: 40px;
    color: black;
}
.offers> h2 a i{
    margin-left: 5px;
}
.offers> h2 a:hover{
    color: var(--main-color);
}
.offers> h2 a:hover> i{
    animation: more 0.5s ease 0s infinite alternate;
    -webkit-animation: more 0.5s ease 0s infinite alternate;
}
@keyframes more {
    from{
        transform: translateX(0) rotate(90deg);
        -webkit-transform: translateX(0) rotate(90deg);
        -moz-transform: translateX(0) rotate(90deg);
        -ms-transform: translateX(0) rotate(90deg);
        -o-transform: translateX(0) rotate(90deg);
}
    to{
        transform: translateX(20px) rotate(90deg);
        -webkit-transform: translateX(20px) rotate(90deg);
        -moz-transform: translateX(20px) rotate(90deg);
        -ms-transform: translateX(20px) rotate(90deg);
        -o-transform: translateX(20px) rotate(90deg);
}
}
/* width */
.offers .container .offers-flex::-webkit-scrollbar {
    width: 10px;
    position: relative;
    margin-top: 205px;
    height: 10px;
}

/* Track */
.offers .container .offers-flex::-webkit-scrollbar-track {
    position: relative;
    margin-top: 5px;
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
.offers .container .offers-flex::-webkit-scrollbar-thumb {
    background: var(--main-color); 
    width: 300px;
    border-radius: 10px;
}


.offers .container .offers-flex >div{
    width: 300px;
    height: 300px;
    background-color: red;
    flex-shrink: 0;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    z-index: 100;
    box-shadow: 1px 1px 5px 2px #26273581;

}
.offers .container .offers-flex >div a{
    display: block;
    position: relative;
}
.offers .container .offers-flex >div:hover a img {
    transform: scale(1.2) rotate(10deg);
    -webkit-transform: scale(1.2) rotate(10deg);
    -moz-transform: scale(1.2) rotate(10deg);
    -ms-transform: scale(1.2) rotate(10deg);
    -o-transform: scale(1.2) rotate(10deg);
}
.offers .container .offers-flex >div a img{
    width: 300px;
    height: 300px;
    background-color: red;
    flex-shrink: 0;
    transition: all 0.7s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}
.offers .container .offers-flex >div a div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.458);
    color: white;
    text-align: center;
    padding: 40px 0;
}
.offers .container .offers-flex >div a div h3{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.offers .container .offers-flex >div a div p:first-of-type{
    margin-top: 10px;
    max-height: 120px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
}
.offers .container .offers-flex >div a div p:last-of-type{
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid white;
}
.offers .container .offers-flex >div a div p:last-of-type .price{
    display: flex;
    flex-direction: column;
}
.offers .container .offers-flex >div a div p:last-of-type .price del{
    font-size: 12px;
}
.offers .container .offers-flex >div a div p:last-of-type .price span:first-of-type{
    text-transform: capitalize;
}
.offers .container .offers-flex >div a div p:last-of-type .price span:last-of-type{
    font-size: 25px;
    color: var(--main-color);
}
.offers .container .offers-flex >div a div p:last-of-type .egp{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 20px;
}
/* end offers */
.services{
    background-color: #26273517;
    padding-bottom:40px ;
}
.services .container h2{
    margin: 20px 0;
    text-transform: capitalize;

}
.services .container .services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.services .container .services-grid div {
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.services .container .services-grid span {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.46);
    color: white;
    font-size: 18px;
    text-transform: capitalize;
}
.services .container .services-grid div img {
    width: 100%;
    height: 100%;
}
/* end services */
/* start footer  */
footer{
    background-color: var(--second-color);
    padding: 40px 0;
}
footer .container .logo a{
    color: white;
}


footer .container .grid-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;
}
footer .container .grid-footer ul li a,footer .container .grid-footer h3{
    display: block;
    width: 50%;
    font-size: 16px;
    padding: 10px;
    text-transform: capitalize;
    color: white;
    opacity: 0.7;
}
footer .container .grid-footer ul li a:hover{
    opacity: 1;
    border-left:2px solid white ;
}
footer .container .grid-footer div{
    height: 200px;
}
footer .container .grid-footer div img{
width: 100%;
height: 100%;
}
@media (max-width:922px) {
    footer .container .grid-footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .area{
        grid-area: 2/1/3/3;
    }
}
@media (max-width:768px) {
    footer .container .grid-footer{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
    }
    .area{
        grid-area:3/1/4/1;
    }
}
/* end footer  */