/* start global styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color:#FAC61F;
    --second-color:#262735;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding: 0 15px;
    margin: auto;
    position: relative;
}
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
.slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
/* end global styling  */
/* start header  */
header{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.063);
    z-index: 1000;


}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo a img{
    width: 125px;
}
header .container .bars{
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    cursor: pointer;
}
header .container .bars span{
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
header .container .bars span:nth-child(2){
    display: block;
    width: 50%;
    height: 3px;
    background-color: var(--main-color);
}
.check:checked ~ .container .bars span{
    width: 100%;
}

header .container nav ul {
    display: flex;
}
header .container ul li a{
    display: block;
    width: 100px;
    text-align: center;
    line-height: 60px;
    color: black;
    text-transform: capitalize;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    position: relative;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 18px;
}
header .container ul li a::after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: var(--main-color);
    bottom: 0;
    left: -100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
header .container ul li a:hover{
    color: var(--main-color);
}
header .container ul li a:hover::after{
    left: 0;
}
header .container ul li form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
header .container ul li form i {
    position: absolute;
    left: 10px;
    color: var(--main-color);
}
header .container ul li form input{
    height: 35px;
    border-radius: 15px/50%;
    -webkit-border-radius: 15px/50%;
    -moz-border-radius: 15px/50%;
    -ms-border-radius: 15px/50%;
    -o-border-radius: 15px/50%;
    outline: none;
    border: none;
    padding: 4px 0px 4px 32px;
    box-shadow:inset 1px 1px 10px 3px rgba(149, 148, 148, 0.1);
    width: 230px;
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 992px) {
    header .container .bars{
        display: flex;
        position: absolute;
        right: 20px;
    }
    header .back{
        position: absolute;
        padding: 0;
        width: 100vw;
        margin: auto;
        left: 0;
        top: 63px;
        height: calc(100vh - 63px);
        background-color: rgba(241, 238, 238, 0.562);
        z-index: -2;
        display: none;
    }
    header .container nav ul{
        flex-direction: column;
        position: absolute;
        padding-bottom: 30px;
        width: 100%;
        background-color: white;
        left: 0;
        top: -360px;
        transition:all 0.5s ease;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        z-index: -1;
        border-radius: 0 0 20px 20px;
        -webkit-border-radius: 0 0 20px 20px;
        -moz-border-radius: 0 0 20px 20px;
        -ms-border-radius: 0 0 20px 20px;
        -o-border-radius: 0 0 20px 20px;
}
    .check:checked ~ .container nav ul{
        top: 61px;
    }
    .check:checked ~ .back{
        display: block;
    }
    header .container nav ul li a{
        width: 100%;
        margin-bottom: 5px;
    }
    header .container nav ul li i{
        left: calc(50% - 115px);
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
}
}
@media (max-width:768px) {
    header .container nav ul{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}

}
/* end header  */
/* start landing */
.landing{
    margin-top: 5px;
}
.flex{
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    position: relative;
}
.flex img{
    width: 100%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.container .two:checked ~ div img{
    transform: translateX(calc(-100% - 20px));
    -webkit-transform: translateX(calc(-100% - 20px));
    -moz-transform: translateX(calc(-100% - 20px));
    -ms-transform: translateX(calc(-100% - 20px));
    -o-transform: translateX(calc(-100% - 20px));
}
.container .three:checked ~ div img{
    transform: translateX(calc(-200% - 40px));
    -webkit-transform: translateX(calc(-200% - 40px));
    -moz-transform: translateX(calc(-200% - 40px));
    -ms-transform: translateX(calc(-200% - 40px));
    -o-transform: translateX(calc(-200% - 40px));
}
.landing .container{
    position: relative;
}
.landing .container .slider-control{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    gap: 10px;
    width: 100%;
}
.landing .container .slider-control label{
    width: 30px;
    height: 6px;
    background-color: #89858588;
    cursor: pointer;
}
.landing .container .one:checked ~ .slider-control .one,
.landing .container .two:checked ~ .slider-control .two,
.landing .container .three:checked ~ .slider-control .three
{
    background-color: var(--main-color);
    border: 1px solid var(--second-color);
}
.landing .container .paragraph{
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    top: 0;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.256);

}
.landing .container .paragraph div{
    color: white;
    text-align: center;
    display: none;
}
.landing .container .paragraph div h2{
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: inherit;
    font-family: 'Dancing Script', cursive; 
}

.landing .container .one:checked ~ .paragraph .one,
.landing .container .two:checked ~ .paragraph .two,
.landing .container .three:checked ~ .paragraph .three
{
    display: block;
}
/* end landing */